@keyframes shine {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
@keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}

.flicker-slow{
  animation: flicker 3s linear infinite;
}

.flicker-fast{
  animation: flicker 1s linear infinite;
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		//text-shadow: none;
    opacity: .99;
		
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}


.aboutus_container {
  margin-top: 3%;
  font-family: "Nunito";
  height: 190vh;
  z-index: 20;
  position: relative;
  // &__mob{
  //   // margin-top: 45%;
  // }
  .aboutus_title_wrapper {
    display: flex;
    justify-content: center;

    font-style: normal;
    height: 200px;
    align-items: center;
    margin-bottom: 2%;
    
    & h1 {
      font-weight: 800;
      font-size: 72px;
   color:rgb(34 34 34 / 33%);
      // color: rgb(34 34 34 / 70%);
      padding: 10px;
    }
    & h2 {
      font-weight: 700;
      font-size: 36px;
  
      padding: 10px;
    }

.about_us_title_divider{
    position: relative;
width: 32%;
height: 0px;
// left: 357px;
// top: 49px;
border: 1px solid #000000;
}

  }

// .aboutus_subs_wrapper{

// height: 800px;
// display: flex;
//     flex-direction: column;
//     justify-content: space-evenly;
//     position: relative;

//     &__mob{
//       @extend .aboutus_subs_wrapper;
//       align-items: center;
//       height: 670px;
//     }

.aboutus_subtitles{  
  // background-color: rgba(20, 20, 20, 0.623);
  //       // position: absolute;
  //       top: 27%;
  //       left: 10%;
  //       width:38%;
  //       border-radius: 15px 30px 45px;
  //       padding: 14px;
  //       text-align:center;
  

      /* top: 27%; */
      /* left: 10%; */
 
      /* width: 38%; */
      /* border-radius: 15px 30px 45px; */
      padding: 14px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;


  & h1{
    font-weight: 700;
    font-size: 6vw;
    text-transform: uppercase;
    letter-spacing: 5px;
    overflow: hidden;
    background: linear-gradient(180deg, #000000, #000000, #000000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 12s alternate infinite;
    -webkit-background-clip: text;
    background-clip: text;
    // -webkit-text-fill-color: #f5f5f5;
    transform:  rotate3d(1, 1, 1, 358deg) translateY(-50px);
    -webkit-text-fill-color: rgba(139,69,19,0.4);
    text-shadow: -1px -1px rgb(0 0 0 / 50%), 1px 1px rgb(255 255 255 / 50%);

    // color: #f5f5f5;
// text-shadow: 0px -2px 4px #fff, 0px -2px 10px #FF3, 0px -10px 20px         #F90, 0px -20px 40px #C33;
    // color: rgba(139,69,19,0.4);
  }
  & h2{
// position: absolute;
// top: 10px;
// color: white;
// display: flex;
//   align-items: center;
//   justify-content: center;
//   font-size: 6vw;
//   width: 90%;
//   -webkit-text-fill-color: transparent;
//   background: url(../../assets/images/bkg_prlx.jpg);
//   background-clip: text;
//   -webkit-background-clip: text;
//   background-position: bottom;
//////////////////////////////////////////////////////////////////////////////
// position: absolute;
// top: 108px;
// left: 21vw;
// color: black;
// display: flex;
// align-items: center;
// justify-content: center;
// font-size: 4vw;
// width: 33%;
// -webkit-text-fill-color: transparent;
// background: url(../../assets/design/txtfill.png) repeat-y;
// -webkit-animation: aitf 80s linear infinite;
// animation: aitf 80s linear infinite;
// background-clip: text;
// -webkit-background-clip: text;
// // background-position: bottom;
// z-index: 5;
// color: white;

font-size:4vw;
color: #ffffff;
position: absolute;
top: 80px;
left: 21vw;
width: 33%;
// transform: translate(-50%, -50%);
font-weight: 400;
letter-spacing: 8px;
text-shadow: 1px 0px 4px #d5dcff, 2px 0px 4px #d5e0ff, 3px 0px 4px #d5e8ff, 2px 0px 3px #2c9ed4, 2px 3px 15px #2c86d4, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #2c58d4, 40px 0vw 200px #2c41d4;
backdrop-filter: blur(1px);
@extend .flicker-slow;

  }



}
// .sd_child{
//     @extend .aboutus_subtitles;
//     // top: 72%;
//     // left: 54%;
//     font-size: 45px;
//     align-self: self-end;
// }


// .abssub_mob{  

//   font-size: 11px;
//   width: 62%;
//   padding: 8px;
// }
// .sd_child_mob{
// @extend .abssub_mob;
// // top: 72%;
// // left: 54%;
// font-size: 26px;
// align-self:auto
// }



// }

.portfolio_noprlx_bkg{
  height: 700px;
    width: 100vw;
    object-fit: cover;
    position: absolute;
}
}


.inset {
  position: absolute;
  inset: 0;
}

.full {
  height: 100vh;
  background: #000;
 

}

.mask{
mask-image: url(../../assets/design/mask.png);
-webkit-mask-repeat: no-repeat;
mask-repeat: no-repeat;
-webkit-mask-size: 100% auto;
mask-size: 100% auto;
-webkit-mask-position: center bottom;
mask-position: center bottom;
z-index: 1;
background-image: url("../../assets/images/bkg_prlx3.jpg");
background-repeat: no-repeat;
background-size: cover;
box-shadow: inset rgb(0 0 0) 0px 2px 3px 2px;
}

.gradient {
  // background: linear-gradient(rgba(209, 170, 63, 0.151) 50%, black);
  // background: linear-gradient(rgb(235 235 235 / 7%) 50%, black);
  // background: linear-gradient(rgba(235, 235, 235, 0.07) 80%, #A98D72);
  background: linear-gradient(rgb(195 186 186 / 7%) 86%, #978779d9);
}

// .test{
// z-index: 400;
// background-color: #000;
  


//   clip-path: polygon(0% 0%, 0% 100%, 18% 100%, 18% 28%, 57.5% 28%, 57.5% 69%, 1px 69%, 9% 107%, 100% 100%, 100% 0%);

// }

[data-testid="layer-2"] {
  clip-path: polygon(0% 0%, 0% 100%, 18% 100%, 18% 28%, 57.5% 28%, 57.5% 69%, 1px 69%, 9% 107%, 100% 100%, 100% 0%);
}