
.contact_container{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    .steps_title_divider {
        position: relative;
        width: 66%;
        height: 0px;
        margin-left: 80px;
        border: 1px solid #C4C4C4;
        justify-self: center;
      }

      .contact_wrapper{
        display: flex;
        position: relative;
        flex-direction: row;
        background-image: url(../../assets/design/contact_bg.svg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 39px;
        width: 95%;
 
        .contact_elem_wrapper{
            display: flex;
            flex-direction: column;
            font-size: 17px;
            line-height: 34px;
            padding: 6px 109px;
        }
        .contact_bg{
            background-image: url(../../assets/design/contact.svg);
            /* background: no-repeat; */
            /* background-size: cover; */
            width: 504px;
            height: 450px;
            position: absolute;
            right: 0;
            top: -318px;
            /* transform: translateY(-56%); */
            transform: scale(1.4);
           
        }
      }
}
   