@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}
.menubar_wrapper {
  position: sticky;
  top: 0;
  padding-top: 10px;
  z-index: 100;
}
.mw_mob {
  position: fixed;
  bottom: 0;
  right: 0;
  top: auto;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  width: 100%;
  padding: 0;
  justify-content: space-evenly;
}
.--active {
  transition: background-color 1s ease-in-out;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(1.5px);
  // background-color: #f5f5f5;
}
.menubar_container {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  will-change: background-color;
  justify-content: center;
  align-items: center;
  padding: 5px;

  &__mob{
    @extend .menubar_container;
    // border-radius: 15px 30px 45px;
    // border: 6px solid #ccc;
  }

  .menubar_option {
    margin-right: 80px;
    font-size: 15px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    color: rgba(34, 34, 34, 0.7);

    & span {
      position: relative;
      display: inline-block;
      font-size: 30px;
      color: rgba(34, 34, 34, 0.7);
      text-transform: uppercase;
      animation: flip 6s infinite;
      animation-delay: calc(.2s * var(--i))
    }
  }

  .mo_mob {
    margin-right: 18px;
    font-size: 14px;
    letter-spacing: 2.2px;
    font-weight: 700;
    padding: 11px !important;
    font-size: 30px !important;
    color: #e89f71;
    background: transparent !important;
  }
}

.menubar_option:first-of-type {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  padding-right: 11%;
}



.menubar_lng_switch{
  position: absolute;
  left: 0;
  width: 65px;
  height: 25px;
  margin: 10px;
  appearance: none;
  -webkit-appearance: none;
    background-image:url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Flag_of_France.svg/1024px-Flag_of_France.svg.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  box-shadow: inset 0px 0px 2px rgba(255,255,255,.7);
  transition: background-image .7s ease-in-out;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  }
  
  .menubar_lng_switch:checked{
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/US_flag_51_stars.svg/2560px-US_flag_51_stars.svg.png');
  background-size: cover;
  transition: background-image 1s ease-in-out;
  }
  
  
  .menubar_lng_switch:after{
  content: '';
  width: 25px;
  height:25px;
  border-radius: 50%;
  background-color: #ffffff0d;
  position: absolute;
  left: 4px;
  top: 2px;
  transform: translateX(0px);
  animation: off .7s forwards cubic-bezier(.8, .5, .2, 1.4);
  box-shadow: inset 5px -5px 4px rgba(53, 53, 53, 0.3);
  }
  
  @keyframes off{
  0%{
      transform: translateX(80px);
      width: 46px;
  }
  50%{
      width: 75px;  
      border-radius: 25px;   
  }
  100%{
      transform: translateX(0px); 
      width: 46px;
  }
  }
  
  
  
  .menubar_lng_switch:checked:after{
  animation: on .7s forwards cubic-bezier(.8, .5, .2, 1.4);
  box-shadow: inset -5px -5px 4px rgba(53, 53, 53, 0.3);
  }
  
  @keyframes on{
  0%{
      transform: translateX(0px);
      width: 46px;
  }
  50%{
      width: 75px;  
      border-radius: 25px;   
  }
  100%{
      transform: translateX(80px); 
      width: 46px;
  }
  }
  
  