.steps_container {
  margin-top: 3%;
  font-family: "Nunito";
  .steps_title_wrapper {
    display: flex;
    justify-content: center;

    font-style: normal;
    height: 200px;
    align-items: center;
    margin-bottom: 2%;

    & h1 {
      font-weight: 800;
      font-size: 72px;
color:rgb(34 34 34 / 33%);
      // color: rgb(34 34 34 / 70%);
      padding: 10px;
    }
    & h2 {
      font-weight: 700;
      font-size: 36px;

      padding: 10px;
    }

    .steps_title_divider {
      position: relative;
      width: 32%;
      height: 0px;
      // left: 357px;
      // top: 49px;
      border: 1px solid #000000;
    }
  }

  .steps_title_wrapper {
    // height: 500px;
    padding: 40px;
.steps_subtitles{
    text-align: center;
    // position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%,-50%);
    // z-index: 2;
    // width: 100%;
    // padding: 0 40px;
    // text-align: center;
    // font: 600 normal 60px/1.2 Butler,Times New Roman,Times,serif;
    color: #fff;
    letter-spacing: .025em;
    text-transform: uppercase;
    font-size: 40px;

    & h1{
        justify-self: center;
        color: #fff;
        padding: 21px;
        border-radius: 15px 30px 45px;
        background-color: rgba(24, 25, 26, 0.37);
    }
}
  }

  .steps_disp_choices{
    color: #5c5656;
    display: flex;
    justify-content: center;
    transform: translate(0, -110px);
    align-items: flex-start;
    flex-wrap: wrap;
  .steps_wrapper{
    padding: 20px;
    box-sizing: border-box; 
     min-height: 100%;
     text-align: center;
     
& p{
    font-size: 20px;
    font-weight: 600;

}

  }
}
}