@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes morph {
  0% {border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;} 
  100% {border-radius: 40% 60%;} 
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}


// .shake_it{
//   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
//   transform: translate3d(0, 0, 0);
//   backface-visibility: hidden;
//   perspective: 1000px;
// }
// .slide_away{
//   animation-duration: 3s;
//   animation-name: slideOut;
// }

.portfolio_container{

  z-index: 8;
  display: flex;
  // flex-direction: row-reverse;
  position: relative;
  height: 80vh;
  width: 90vw;
  margin-top: 20vh;

&__mob{
  @extend .portfolio_container;
  width: 94%;
  margin-top: 0px;
  flex-direction: column;
  padding-top: 36px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  // padding-bottom: 34px;
  margin: 15px;
  height: auto;
  // border-radius: 2%;
}

.design_rect{
  
  // position: absolute;
  // left: 34px;
  // width: 120%;
  // height: 122vh;
  // background-color: #F9F1E7;
  position: relative;
height: 58vh;
width: 60%;

&__mob{
  position: relative;
    height: auto;
    width: 100%;
}
}
.swiper {
    width: 100%;
    height: 100%;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation: morph 4s ease-in-out infinite both alternate;
    // animation: spin 12s linear infinite;
  
  }
  
  .swiper-slide {
    
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    
  }
// .portfolio_model_wrapper{

//     height: '200px';
// }

.portfolio_window_container{
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: relative;
  background: rgba(255, 255, 255, 0.72);
  -webkit-backdrop-filter: blur(15.5px);
  backdrop-filter: blur(0.5px);
  transform: translate(32%, -21%);
  height: max-content;
  align-items: center;
  

& h1{
  font-weight: 700;
font-size: 56px;
line-height: 120%;
width: 70%;
}
& h3{
  font-weight: 500;
font-size: 23px;
line-height: 195%;
width: 70%;
}
& a{
  // width: 469px;
  // height: 111px;
  background: #E89F71;
  border: none;
  border-radius: 2%;
  margin: 32px;
  font-size: 22px;
  color: white;
  cursor: pointer;
  padding: 38px 23%;
  position: relative;
  text-decoration: none;
  text-align: center;
  &:hover{

    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
}
}

.pwc_mob{
  @extend .portfolio_window_container;
  transform:none;
  background:transparent;
  height: auto;
  & h1{
    font-size: 28px;
  }
  & h3{
    font-size: 20px;
  }

  & a{
    font-size: 14px;
    padding: 32px 100px;
  }
}

.pwc_lap{
  @extend .portfolio_window_container;

  & h1{
    font-size: 36px;
  }
  & h3{
    font-size: 16px;
  }

  & a{
    font-size: 18px;
    padding: 29px 16%;
  }
}

img.Sirv.sirv-image-loading {
  opacity: 0;
}
img.Sirv.sirv-image-loaded {
  transition: opacity .4s linear;
  opacity: 1;
}

}